body {
	position: relative;
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	background: #070707 url("../img/main-bg-image.jpg") no-repeat;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	/*    background-color: dimgrey;*/
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.main-header {
	margin-bottom: 56px;
	background-color: #000000;
}

.main-navigation {
	float: left;
	width: 780px;
	font-size: 0;
}

.main-navigation a {
	position: relative;
	display: block;
	padding: 29px 21px;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.main-navigation a:hover,
.user-block a:hover {
	background-color: #242424;
}

.main-navigation ul {
	padding: 0;
	margin: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	/*	margin-right: 20px;*/
}

.user-block {
	float: right;
	min-width: 107px;
	max-width: 160px;
	/*    background-color: cornflowerblue;*/
}

.user-block a::before {
	position: absolute;
	top: 39%;
	left: 12%;
	content: " ";
	width: 24px;
	height: 24px;
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 20% 103%;
}

.user-block a {
	position: relative;
	display: block;
	padding: 29px 0px 29px 50px;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
}

.user-block a:hover::before {
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 19% 5%;
}

.active a:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 21px;
	right: 21px;
	height: 4px;
	background-color: #ffffff;
}

.active a:hover {
	background: none;
}

.logo {
	width: 368px;
	min-height: 152px;
	margin: 0 auto;
	margin-bottom: 72px;
	/*    background-color: aquamarine;*/
}

.features-row {
	margin-bottom: 65px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
	/*    background-color: darkturquoise;*/
}

.features-item:last-child {
	margin-right: 0px
}

.features-title::after {
	position: absolute;
	content: " ";
	bottom: -45px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background-color: #f7f4f1;
	transform: rotate(45deg);
}

.features-title {
	position: relative;
	color: #f7f4f1;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 75px;
}

.features-item p {
	color: #f7f4f1;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}

.index-content {
	position: relative;
	margin-bottom: 34px;
	padding: 26px 80px 57px;
	background: #ffffff url("../img/index-content-bg.jpg");
}

.index-content::before {
	content: " ";
	position: absolute;
	top: 20%;
	left: 50%;
	width: 8px;
	height: 278px;
	background: url("../img/index-content-center-new-delimitr.png") no-repeat;
}

.content-column-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.gallery-title {
	margin-bottom: 37px;
}

.news-preview {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news-preview li {
	margin-bottom: 24px;
	width: 300px;
}

time {
	font-weight: normal;
	text-transform: none;
}

.btn {
	display: inline-block;
	width: 140px;
	color: #ffffff;
	background-color: #000000;
	padding: 10px 0px 9px;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	line-height: 24px;
}

.btn:hover {
	background-color: #663d15;
}

button.btn {
	border: none;
	outline: none;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
}

.main-contacts {
	position: relative;
}

.main-contacts .btn {
	margin-right: 17px;
	margin-top: 23px;
}

.main-contacts p {
	margin-bottom: 23px;
	width: 300px;
}

.news-preview + .btn {
	margin-top: 7px;
}

.content-column-left {
	float: left;
	width: 380px;
	/*    background-color: firebrick;*/
}

.content-column-right {
	float: right;
	width: 300px;
	/*    background-color: firebrick;*/
}

.gallery-content {
	margin: 0;
	padding: 0;
	border: 7px solid #ffffff;
	margin-bottom: 30px;
}

.gallery-prew {
	float: left;
}

.gallery-next {
	float: right;
}

.modal-map {
	position: absolute;
	top: -259px;
	width: 767px;
	height: 561px;
	border: 7px solid #ffffff;
	position: absolute;
	display: none;
	box-shadow: 0px 30px 50px 0px rgba(0, 1, 1, 0.75);
}

.modal-map-show {
	display: block;
	-webkit-animation: bounceInLeft 0.6s;
	animation: bounceInLeft 0.6s;
}

.appointment-form input,
.login-popup input:not([type="checkbox"]) {
	border: 2px solid #000101;
	width: 106px;
	padding: 11px 15px 10px;
	margin-right: 17px;
	margin-bottom: 19px;
	background-color: #f9f6f3;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 1;
}

.appointment-form input:nth-child(2n) {
	margin-right: 0;
}

.appointment-form input::-webkit-input-placeholder,
.login-popup input::-webkit-input-placeholder {
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 18px;
	text-transform: uppercase;
}

.appointment-form input::-moz-placeholder,
.login-popup input::-moz-placeholder {
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	opacity: 1;
}

.appointment-form input:-ms-input-placeholder,
.login-popup input:-ms-input-placeholder {
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}

.appointment-form input:focus,
.login-popup input:not([type="checkbox"]):focus {
	outline: none;
	border: 2px solid #663d15;
}

.appointment-form form {
	margin-top: 27px;
}

.appointment-form .btn {
	width: 100%;
	margin-top: 14px;
}


/*каталог*/

.catalog-page,
.catalog-item-page,
.price-list {
	background: #ffffff url("../img/index-content-bg.jpg");
}

.catalog-page .main-footer,
.catalog-item-page .main-footer,
.price-list .main-footer
 {
	box-shadow: inset 0px 56px 26px -39px rgba(0, 0, 0, 0.6);
	margin-top: 47px;
}

.catalog-page .main-header {
	margin-bottom: 58px;
}

.breadcrumbs {
	margin-top: 24px;
	margin-bottom: 33px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	margin-right: 37px;
}

.breadcrumbs a {
	position: relative;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs a::after {
	position: absolute;
	content: " ";
	top: 6px;
	right: -24px;
	width: 7px;
	height: 7px;
	background: #000000;
	transform: rotate(45deg);
}

.current-section {
	color: #aba9a7;
}

.catalog-search {
	float: left;
	width: 220px;
	/*	background-color: aqua;*/
}

.catalog-search h2 {
	margin-bottom: 28px;
}

.catalog-search .goods-group-title {
	margin-bottom: 34px;
    margin-top: 50px;
}

.catalog-search ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-search li {
	margin-bottom: 13px;
}

.catalog-search label {
	position: relative;
	margin-left: 44px;
	display: inline-block;
	width: 170px;
	line-height: 16px;
}

input[type="checkbox"] + label::before {
	position: absolute;
	content: "";
	top: -3px;
	left: -45px;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
}

input[type="checkbox"] + label::after {
	display: none;
	position: absolute;
	content: "";
	top: -1px;
	left: -44px;
	width: 18px;
	height: 18px;
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 96% 95%;
}

input[type="checkbox"]:checked + label::after {
	display: block;
}

input[type="radio"] + label::before {
	position: absolute;
	content: "";
	top: -3px;
	left: -45px;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
	border-radius: 50%;
}

input[type="radio"] + label::after {
	display: none;
	position: absolute;
	content: "";
	top: 4px;
	left: -38px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #000000;
}

input[type="radio"]:checked + label::after {
	display: block;
}

.catalog-search-btn {
	margin-top: 39px;
	width: 112px;
}

.catalog-products {
	float: right;
	padding-top: 22px;
	width: 700px;
	font-size: 0;
	/*    background-color: aqua;*/
}

.catalog-product {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	min-height: 286px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.catalog-product-image {
	margin-bottom: 7px;
}

.catalog-product:hover {
	box-shadow: 3px 4px 25px 0px rgba(0, 1, 1, 0.3);
}

.catalog-product:nth-child(3n) {
	margin-right: 0;
}


/*предмет каталога*/

.item-images {
	float: left;
	width: 460px;
	font-size: 0;
}

.item-description {
	float: right;
	width: 391px;
}

.item-preview-images a {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.item-preview-images a:last-child {
	margin-right: 0;
}

.product-name {
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
}

.buy-accept {
	width: 78px;
	float: right;
}

.product-price {
	background-color: #e5e5e5;
	display: block;
	width: 186px;
	height: 43px;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	margin-top: 13px;
	line-height: 43px;
}

.product-name span {
	text-transform: uppercase;
}

.catalog-product-description {
	padding: 0 17px;
	line-height: 17px
}

.catalog-pagination {
	margin-top: 24px;
}

.catalog-pagination ul {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.pagination-page {
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 43px;
	height: 43px;
	color: #ffffff;
	background: #000000;
	margin-right: 7px;
	text-align: center;
	line-height: 42px;
}

.pagination-page a {
	display: block;
	font-size: 14px;
	width: 100%;
	height: 100%;
	color: #ffffff;
	background: #000000;
	text-decoration: none;
	text-align: center;
}

.pagination-page a:hover {
	background-color: #663d15;
}

.active-page {
	background-color: #ffffff;
	color: #000000;
}

/*СТРАНИЦА ТОВАРА*/

.item-images img {
	box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.item-preview-images {
	margin-top: 10px;
}

.catalog-item-page .main-footer {
	margin-top: 34px;
}

.catalog-item-page .breadcrumbs {
	margin-bottom: 55px;
}

.item-article {
	float: right;
	color: #aeaeae;
}

.catalog-item-description {
	clear: both;
}

.item-description-detail p:first-child {
	float: left;
	margin-bottom: 29px;
}

.catalog-item-page .product-price {
	margin: 0;
	    margin-top: 35px;
}

.item-description {
	padding-top: 5px;
}

.item-description-detail {
	margin-bottom: 65px;
}

.item-description-contents ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-description-contents li {
	position: relative;
	margin-left: 21px;
}

.item-description-contents li:before {
	position: absolute;
    content: " ";
    top: 8px;
    left: -19px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.item-description-contents h2 {
	margin-bottom: 29px;
}

/*ПРАЙС-ЛИСТ*/
.price-list .main-header {
	margin-bottom: 59px;
}

.price-list .breadcrumbs {
	margin-bottom: 57px;
}

.price-page-main-title {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 56px;
}
.price-page-main-title::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	width: 100%;
	border: 1px solid black;
	z-index: 1;

}

.price-list-big-title {
	position: relative;
	z-index: 10;
	font-size: 48px;
	margin: 0 auto;
	width: 620px;
	text-align: center;
	background: #ffffff url("../img/index-content-bg.jpg");

}

.means-used {
	float: left;
	width: 400px;
}

.price-list h2 {
	line-height: 28px;
	margin-bottom: 35px;
}

.means-used h2 {
	width: 240px;
}

.means-used-list {
	list-style: none;
	margin: 0;
	margin-left: 20px;
	margin-top: -4px;
	padding: 0;
}

.means-used-list li {
	position: relative;
	margin-bottom: 12px;
}

.means-used-list li::after {
	position: absolute;
	content: " ";
	top: 6px;
	left: -19px;
	width: 7px;
	height: 7px;
	background: #000000;
	transform: rotate(45deg);
}

.prices-masters {
	float: right;
	width: 460px;
	margin-bottom: 60px;
}

.prices-masters h2 {
	width: 200px;
}

.prices-masters table {
	border-collapse: collapse;

}

.prices-masters td {
	padding: 8px 17px;
	width: 193px;
	border: 2px solid black;
}

.prices-masters td:nth-child(2n) {
	text-align: center;
}

.about-us {
	clear: both;
	margin-bottom: 62px;
}

.about-us h2 {
	margin-bottom: 15px;
}

.about-us-left-col {
	float: left;
	width: 400px;
}

.about-us-right-col {
	float: right;
	width: 460px;
}

.about-us p {
	width: 390px;
}

/*футер*/

.main-footer {
	margin-top: 64px;
	padding: 58px 0px 37px;
	background: #cccccc url("../img/footer-bg.png");
	color: #ffffff;
}

.main-footer p {
	padding: 0;
	margin: 0;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 22px;
	/*    background-color: brown;*/
}

.footer-contacts a {
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
}

.footer-social {
	float: left;
	width: 260px;
	text-align: center;
	/*    background-color: brown;*/
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 3px;
	background-color: #000000;
}

.footer-social p {
	margin-bottom: 15px;
}

.social-btn-vk {
	background: #000000 url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 42% -50%;
}

.social-btn-vk:hover {
	background: #ffffff url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 42% 134%;
}

.social-btn-fb {
	background: #000000 url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 64% -30%;
}

.social-btn-fb:hover {
	background: #ffffff url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 64% 145%;
}

.social-btn-inst {
	background: #000000 url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 84% -34%;
}

.social-btn-inst:hover {
	background: #ffffff url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 84% 145%;
}

.footer-copyright {
	float: right;
	width: 140px;
	text-align: center;
	/*    background-color: brown;*/
}

.footer-copyright p {
	margin-bottom: 15px;
}

.footer-copyright .btn:hover {
	color: #000000;
	background-color: #ffffff;
}

.login-popup {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	width: 460px;
	margin: 0 auto;
	display: none;
	background: #ffffff url("../img/index-content-bg.jpg");
	margin-bottom: 90px;
	padding: 54px 0 58px 0;
	box-shadow: 0px 30px 50px 0px rgba(0, 1, 1, 0.75);
	z-index: 20;
}

.login-popup-show {
	display: block;
	-webkit-animation: bounceInLeft 0.6s;
	animation: bounceInLeft 0.6s;
}

@-webkit-keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	to {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	to {
		-webkit-transform: none;
		transform: none;
	}
}


/*
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
*/

@-webkit-keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0);
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0);
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}
}

.bounceOutRight {
	-webkit-animation: bounceOutRight 0.6s;
	animation: bounceOutRight 0.6s;
}

.closing-cross {
	position: absolute;
	top: 8px;
	right: -35px;
	width: 23px;
	height: 23px;
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 100% 6%;
	border: none;
	font-weight: normal;
	outline: none;
}

.login-popup form {
	width: 300px;
	margin: 0 auto;
	text-align: left;
}

.login-popup input:not([type="checkbox"]) {
	position: relative;
	width: 241px;
	margin: 0;
	margin-bottom: 10px;
	padding-right: 40px;
}

.login-popup fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.login-popup legend {
	font-size: 30px;
	margin-bottom: 10px;
}

.login-popup p {
	margin-bottom: 11px;
}

input[name="user-login"] {
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 266px 7px;
}

input[name="user-password"] {
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 266px -35px;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

label[for="save-me"] {
	position: relative;
	margin-left: 30px;
	line-height: 30px;
}

label[for="save-me"]::before {
	position: absolute;
	content: "";
	top: -3px;
	left: -30px;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
}

label[for="save-me"]::after {
	display: none;
	position: absolute;
	content: "";
	top: -1px;
	left: -29px;
	width: 18px;
	height: 18px;
	background: url("../img/barbershop-styleguide-icon-sprite.png") no-repeat 96% 95%;
}

input[id="save-me"]:checked ~ label[for="save-me"]::after {
	display: block;
}

.login-popup .btn {
	width: 100%;
	margin-top: 12px;
}

.forgot-password {
	color: #000000;
	margin-top: 3px;
	float: right;
}
