body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    
    background-color: dimgrey;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.main-header {
    background-color: #cccccc;
}

.main-navigation {
    float: left;
    
    width: 780px;
    
    background-color: aqua;
}

.user-block {
    float: right;
    
    width: 107px;
    max-width: 160px;
    
    background-color: cornflowerblue;
}

.logo {
    width: 368px;
    height: 162px;
    margin: 0 auto;
    
    background-color: aquamarine;
}

.features-item {
    float: left;
    
    width: 300px;
    margin-right: 30px;
    
    background-color: darkturquoise;
}

.features-item:last-child {
    margin-right: 0px
}

.index-content {
    margin-bottom: 20px;
    padding: 0 30px;
}

.content-column-left {
    float: left;
    
    width: 380px;
    
    background-color: firebrick;
}

.content-column-right {
    float: right;
    
    width: 300px;
    
    background-color: firebrick;
}

figure.gallery-content {
    margin: 0;
    padding: 0;
}

.big-map-image {
    display: none;
}

/*каталог*/

.catalog-search {
    float: left;
    
    width: 220px;
    
    background-color: aqua;
}

.catalog-products {
    float: right;
    
    width: 700px;
    
    font-size: 0;
    
    background-color: aqua;
}

.catalog-product {
    display: inline-block;
    vertical-align: top;
    
    width: 220px;
    margin-right: 20px;
    
    font-size: 14px;
}

.catalog-product:nth-child(3n) {
    margin-right: 0;
}

/*предмет каталога*/

.item-images {
    float: left;
    
    width: 460px;
    
    font-size: 0;
}

.item-description {
    float: right;
    
    width: 400px;
}
.item-preview-images a {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
}

.item-preview-images a:last-child {
    margin-right: 0;
}

/*футер*/

.main-footer {
    background-color: #cccccc;
}

.footer-contacts {
    float: left;
    
    width: 320px;
    margin-right: 60px;
    
    background-color: brown;
}

.footer-social {
    float: left;
    
    width: 260px;
    
    background-color: brown;
}

.footer-copyright {
    float: right;
    
    width: 160px;
    
    background-color: brown;
}